article.categoria {
  background-color: rgb(40, 62, 83);
  border-radius: 15px;
  padding: 0.3rem;
}

.header-categoria {
  display: flex;
  align-items: center;
}

.form-adicionar-tarefa {
  margin: 1rem;
}
