body {
  color: bisque;
  background-color: rgb(31, 33, 39);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.adicionar-categoria {
  margin-left: 1rem;
}

.adicionar-categoria-input {
  margin-right: 0.4rem;
}

.categorias-section {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
